
.header {
  width:100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li:not(:last-child) {
  margin: 0 20px;
}

.navbar ul li:last-child {
  margin-left: 20px;
}

.navbar ul li a {
  font-size: 16px;
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}

.navbar ul li a:hover {
  color: hsl(5, 85%, 63%);
}

.navbar-option-enter {
  opacity: 0;
}
.navbar-option-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.navbar-option-exit {
  opacity: 1;
}
.navbar-option-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}