.content {
  width: 100%;
  margin-top: 50px;
}

.news-content-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.news-intro-image {
  width: 100%;
}

.top-news {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 75px;
}

@media screen and (max-device-width: 1440px) {
  .top-news {
    width: 100%;
  }
}
