.new-news {
  padding: 30px 35px 0 20px;
  background-color:  hsl(240, 100%, 5%);
}

.new-news h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2.5em;
}

.new-news-item {
  margin-top: 25px;
  padding-bottom: 15px;
}

.new-news-item:not(:last-child) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.new-news .new-news-item h3 a {
  text-decoration: none;
  color: hsl(36, 100%, 99%);
}

.new-news .new-news-item h3:hover a {
  color: hsl(35, 77%, 62%);
}

.new-news .new-news-item p {
  color: hsl(233, 8%, 79%);
  line-height: 25px;
  font-size: 15px;
}

.new-news-item > * {
  margin: 15px 0;
}

@media screen and (max-width: 974px){
  .new-news h2 {
    font-size: 1.8em;
  }

  .new-news-item {
    margin-top: 18px;
  }

  .new-news-item h3 {
    font-size: 1em;
  }

  .new-news  .new-news-item > p {
    font-size: 13px;
    line-height: 18px;
  }
}

@media screen and (max-width: 620px) {
  .new-news {
    height: fit-content;
  }
}
